@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* banner styles */
.background-img {
  background-image: url('../resources/Banner\ Image.png');
  background-repeat: no-repeat;
  height: 60vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.banner-text {
  /* margin: 200px 340px; */
  text-align: center;
  color: #FFF;
}

.banner-text h4 {
  font-size: 32px;
  font-family: Merriweather;
  font-weight: 400;
}

.banner-text h1 {
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
}

#discount {
  margin: 120px 400px;
  text-align: center;
}

#off {
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}

#holiday {
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.all {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 50px;
}

#discount-text {
  margin-bottom: 40px;
}

.party {
  background-image: url('/resources/Vectorrr.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.party-text h1 {
  color: #FFF;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
}

.party-text p {
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}

.party-text button {
  margin: 20px;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  background: transparent;
}

.party-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.party-img {
  margin: 65px 0;
}

.place-background-color {
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
  margin-top: 120px;
  padding: 100px 0;
}

.text-margin {
  margin: 100px 385px;
  text-align: center;
}

.place-text p {
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}

.place-text {
  text-align: center;
}

.place-text button {
  border-radius: 8px;
  background: #F00;
  padding: 16px 32px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
}

.banner-5 {
  display: flex;
  gap: 80px;
  background: #FFF;
  margin-top: 120px;
  margin-bottom: 50px;
}

.bn5-p1 {
  color: #F00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.bn5-p2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 20px;
}

.bn5-p3 {
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 20px;
}

#bn5-p4 {
  color: #F00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}

#bn5-p5 {
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 40px;
}

.functional {
  text-align: center;
  margin-top: 120px;
}

.portfolio {
  margin-top: 120px;
}

#functional-p1 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.functional h1 {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}

#functional-p2 {
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.portfolio-text {
  margin-top: 20px;
}

.image-row {
  display: block;
}

.image-r1 {
  display: flex;
  gap: 25px;
  margin-bottom: 25px;
  padding: 48px auto;

}

.image-r2 {
  display: flex;
  gap: 25px;
  margin-bottom: 25px;
}

.subscribe {
  background: rgba(255, 0, 0, 0.05);
  margin-top: 120px;
  padding: 80px 0;
  margin-bottom: 120px;
}

.mail-img {
  margin-top: 80px;
  text-align: center;
  margin-bottom: 40px;
}

.subscribe-text {
  text-align: center;
}

.subscribe-text #sus-txt {
  margin: 0 212px;
}

.sus-btn {
  border: none;
  border-radius: 50px;
  background: red;
  margin: 48px 336px 80px 336px;
}

.sus-btn button {
  padding: 24px 250px;
  color: #FFF;
  font-size: 50px;
  background: none;
  max-width: 700px;
}

footer {
  background: #070211;
  padding: 120px 150px;
}

.contact {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  display: flex;
  /* margin: 120px 160px; */
  margin-bottom: 50px;
  justify-content: space-between;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 50px auto;
}

.foot {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.foot button {
  background: transparent;
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
}